@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
* {
  padding: 0;
  margin: 0;
}

body{
  overflow-X: hidden;
}
.newlyarrived{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.newlyarrived .arrivedtxt{
  position: absolute;
  font-size: 15rem;
  color: white;
  border-bottom: 1px solid #ccc;
  text-shadow: 0 0 0.5px #fff,     /* Inner glow */
               0 0 1px white, /* Medium glow */
               0 0 2px white, /* Outer glow */;
             
  

}

.container {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100vw;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.container.fullscreen {
  overflow: hidden;
}

.div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 130px;
  row-gap: 150px;
}

.item {
  width: 300.66px;
  height:520.66px;
  overflow: hidden;
  position: relative;
 
}

.item .prod {
width: 300.66px;
height: 300.66px;
cursor: pointer;
}
.div .prodD {
  cursor: context-menu;
  text-align: center;
  font-family: "Poppins", serif;
}
.div .prodD .productname {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 20px;
  text-transform: capitalize;
}
.div .prodD .price{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5px;
}
.item .fav  {
  transition: all 0.5s ease-in-out ;
  width: 40px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  
}

.item .lsimg{
  position: absolute;
  right: -50px;
  bottom:  12%;
  background-color: white;
  transition: all 0.7s ease-in-out;
}
.item .lsimg .limg{
  width: 50px;
  height: 50px;
}
.item .prod:hover ~ .lsimg{
  right: 0%;
}
.item .lsimg:hover{
  right: 0%;
}


.prodD .addtocart:hover {
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 0px 0px 10px black;
}

.prodD .addtocart {


  padding: 10px 15px;
  border-radius: 10px;
  border: none;

  cursor: pointer;
  font-size: 15px;
  color: white;
  outline: none;
  background-color: black;
  transition: box-shadow 0.4s ease-in-out;
 
}



/* Header styles*/

.header {
  width: 100vw;
  height: fit-content;
  position: fixed;
  z-index: 100;
 background: linear-gradient(-20deg,rgb(132, 129, 122), white);
 
  padding: 10px 20px;
  display: flex;
  align-items: center;

}
.header .logo{
  width:200px;
  height: 100px;
  display: flex;
}
.header .logo:nth-child(2){
  width: 100px;
}
.header ul {
  display: flex;
  width: 85%;
  justify-content: end;
  gap: 20px;
  list-style: none;
  height: 100%;
  align-items: center;
}

.header ul li {
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 5px;

}

.header ul li:nth-child(2) img {
  width: 35px;
 
}
.header ul li:nth-child(3) img {
  width: 30px;
  
  align-items: center;
}



.header ul li:hover:nth-child(2) {
 

  background-color: white;
  
border-radius: 50%;


}
.header ul li:hover:nth-child(3) {
 

  background-color: white;
border-radius: 50%;


}
.header ul li .search{
  width: 190px;
  height: 25px;
 
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
  border: none;
  outline: none;
  padding: 8px;
  color:  rgb(132, 129, 122);
  font-weight: 700;
  font-family: "Poppins", serif;
}





/*Banner Styles*/
.banner {
  width: 100vw;
  height: 100vh;

  position: relative;
 background: linear-gradient(-20deg,rgb(132, 129, 122), white);

}

.banner img {
  width: 100%;
}



.content img {
  position: absolute;
  width: 40%;
  right: 10%;
  bottom: 30%;
  rotate: -40deg;
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out;
  animation: banner 0.5s ease-in-out 1 forwards;
  animation: name timing-function delay iteration-count direction fill-mode;

}

@keyframes banner {
  from {
    transform: translateX(400px);
    transition: transform 0.5s ease-in-out;
    filter: blur(5px);
  }
}

.dot {
  width: 500px;
  height: 500px;
 background: linear-gradient(80deg,rgb(132, 129, 122), white);
  box-shadow: 1px 3px 10px black;
  border-radius: 50%;
  position: absolute;
  right: 15%;
  top: 30%;
  transform: translateY(0px);
  transition: transform 1s ease-in-out;
  animation: roll 1s ease-in-out 1 forwards;
}

@keyframes roll {
  from {
    opacity: 0;
    filter: blur(2px);
  }
}

.details {
  width: 650px;
  position: absolute;

  bottom: 30%;
  left: 20%;
  transform: translateX(-20%);

  font-family: "Poppins", serif;
  filter: blur(10px);
  animation: blureffect 0.5s ease-in-out 1 forwards;
}

@keyframes blureffect {
  to {
    filter: blur(0px);
    transition: blur 0.5s ease-in-out;
  }

}

.details h4,
.details h1,
.details h3,
.details p {
  
  transform: translateX(-250%);
  transition: transform 0.5s ease-in-out;
  animation: slideeffect 0.6s ease-in-out 1 forwards;
  cursor: context-menu;
}

@keyframes slideeffect {
  to {

    filter: blur(0px);
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }

}

.details h4 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 5px;
  width: 200px;
  filter: blur(10px);
  animation-delay: 0.7s;
  color: black;
}

.details h1 {
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  color: white;
  background-color: black;
  margin-bottom: 4px;
  animation-delay: 0.8s;
  filter: blur(10px);
}

.details h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
  animation-delay: 1s;
  filter: blur(10px);
  color: black;
  margin-right: 15%;
}

.details p {
  font-size: 20px;
  animation-delay: 1.5s;
  filter: blur(10px);
  color: black;
}

.details .detailsbtn {
  background-color: black;

  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 0 10px white(13, 110, 253, 0.8);

  margin-top: 20px;
  cursor: pointer;
  filter: blur(10px);
  transform: translateX(-350%);
  transition: all 0.5s ease-in-out;
  animation: slideeffect 0.5s ease-in-out 1 forwards;
  animation-delay: 1.5s;
}

.details .detailsbtn:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 20px black;
   

}






/*Footer Styles*/
.footer {
  border-top: 1px solid #ccc;
  margin-top: 0%;
  display: flex;
  justify-content: space-evenly;

  font-family: "Poppins", serif;
}

.footer .logos .logo img {
  width: 15px;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #ccc;
  background-origin: content-box;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  margin-left: 10px;
}

.footer .logos {
  margin-left: 10%;
  margin-top: 10rem;
}

.footer .logos h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
}

.logo {
  display: block;


}

.condition {
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10%;
}

.condition ul {
  list-style: none;

}

.condition ul li {
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}

.condition ul li:hover {
  color: whitesmoke;
  transition: color 0.1s ease-in-out;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: context-menu;
  font-family: "Poppins", serif;

}

.copyright .first {
  margin-left: 25px;
}

.copyright .last {
  margin-right: 25px;
  color: white;
}

.f {
  background: linear-gradient(-20deg,rgb(132, 129, 122), white);
}

.carts {
  position: absolute;
  width: 1150px;
  min-height: 770px;
 max-height: 1770px;
  z-index: 100;
  right: 0;
  top: 00px;
  background: linear-gradient(-90deg,rgb(132, 129, 122), white); 
  padding: 20px;
  box-shadow: 1px 4px 40px black;
  transform: translatex(200%);
  transition: all 01s linear;
  animation: cart 0.5s ease-in-out 1 forwards;
  overflow: scroll;

  border-radius: 20px;
}
.cart .listofcart h1 h2{
  text-align: center;
}
.abc{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}
.abc .socialmedia{
  width: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.abc .socialmedia:nth-child(2){
  width: 30px;
}
.abc .socialmedia:nth-child(3){
  width: 30px;
}


/*Span tags  in header*/
.cartList{
  background-color: black;
  color: white;
  position: absolute;
  padding: 2px;
  right: 8.8%;
  border-radius: 50%;
  top: 40%;
  width: 9px;
  
} 