@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


.offertext{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
 .text{
    font-weight: 200;
    font-family: "Poppins", serif;
    position: absolute;
    color: white; /* Pure white text */
    text-shadow: 0 0 5px white,    /* Inner glow */
                 0 0 10px white,   /* Medium glow */
                 0 0 1px white,   /* Outer glow */
                 0 0 1px white,   /* Stronger outer glow */
                 0 0 1px white, 
                 0 0 1px white, 
                 0 0 5px white;   /* Extended glow */
   font-size: 6rem;
   letter-spacing: 1rem;
   background-color: black;
   padding: 10px;
   width: 93%;
   
}
.offertext .offerbanner{
    position: relative;
  
}












.slide{
    width: var(--width);
    height: var(--height);
    margin-top: 20px;
    overflow: hidden;
    

   
     scroll-behavior: smooth;
 
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,8) 20%,
        rgba(0,0,0,8) 80%,
        rgba(0,0,0,0)
    );
    padding: 25px;
}
.slidelist{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    align-items: center;

 
}
.slide .slidelist .slideitem{
    width: 300px;
    position: absolute; 
    left: 100%;
      
    animation: autoscroll 40s linear infinite;
    animation-delay: calc(40s/var(--quantity) * (var(--position) - 1));
    transition:0.5s ease-in-out;
    /* background-color: red; */
    padding: 20px;
    color: black;
   
    border-radius: 20px;
    /* background: linear-gradient(-10deg,rgb(132, 129, 122), white);  */
    text-align: center;
    font-family: "Poppins", serif;
  
    
}
.auotimg{
    background: linear-gradient(-220deg,rgb(132, 129, 122), white);
}
.slidename{
    font-weight: 200;
    text-shadow: 1rem black;
    letter-spacing: 4px;
    text-transform: capitalize;
}

@keyframes autoscroll {
    from{
        left: 100%;
    }
    to{
        left: -100%;
        
    }
}
.slide .slidelist .slideitem img{
   width: 100%;
   height: 324px;
   transition: filter 0.5s ease-in-out;
   cursor: pointer;
   
}
.slide:hover .slideitem{
    animation-play-state: paused;
    filter: grayscale(1);
}
.slide .slideitem:hover{
    filter: grayscale(0);
    transform: translateY(-20px); /* Moves the box 50px closer */
  perspective: 500px; /* Enables 3D perspective */
    /* box-shadow: 1px 4px 20px black; */
    
  
}
.offer{
    width: 200px;
   
    bottom: 95%;
    left: 0%;
    rotate: -25deg;
    font-size: 2rem;

    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    z-index: 100;
    margin-left: 20px;
   
    padding-left: 20px;
    padding-right: 20px;
    cursor: context-menu;
    background-color: black;
    color: white;
    border-radius: 10%;
    
}

.autoscrollDetails{
    position: absolute;
    bottom: 90%;
   opacity: 0;
    transition: all 0.5s ease-in-out;
    font-size: 25px;
    display: flex;
    gap: 15px;
    width: 300px;
    flex-direction: column;
    background: linear-gradient(20deg,rgb(132, 129, 122),white);
    padding: 20px;
}
.slide .slideitem:hover .autoscrollDetails{
    opacity: 1;

}

